<% if current_account %>
     <li class="nav-item">
     <a class="nav-link" href="\accounts\sign_out">Sign out</a>
    </li>
    <% else %>
    <li class="nav-item">
          <a class="nav-link" href="\accounts\sign_in">Sign in</a>
    </li>
    <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
    <li class="nav-item">
        <a class="nav-link" href="\accounts\sign_up">Register</a>
    </li>
<% end %>